.navbar {
  background-color: #2b7a78;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.navbar h2 {
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.navbar a:hover {
  text-decoration: underline;
  color: #def2f1;
}
